<!DOCTYPE html>
<html lang="en-us">

<head>

    <title>FixMyProblem| <!-- Page Title --></title>

    <!-- css/js references from https://www.w3schools.com -->
    <link rel="stylesheet" href="/views/css/styles.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>

<div class="header">
    <div class="topnav" id="topnav">
        <div class="homenav">
          <a href="/">Home</a>
            <!-- <a href="index.html">Home</a> -->
        </div>
        <!-- <a href="signup.html">Sign Up</a>
        <a href="login.html">Log In</a> -->
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>

</div>

    <div class="container">
      <!-- Modal button function from https://www.w3schools.com-->
      <!-- Trigger the modal with a button -->

      <div class="icon">
          <img src="../img/icon.png" alt="Mascot" class="mascot">
      </div>

      <div class="col-md-3 text-center">
        <button type="button" class="btn btn-info btn-lg" id="button" data-toggle="modal" data-target="#post">Post a Problem!</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="post" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Post a Problem</h4>
            </div>
            <div class="modal-body">
              <p>You add information of your problem here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

    <div class="col-md-3 text-center">
      <button type="button" class="btn btn-info btn-lg" id="button" data-toggle="modal" data-target="#fix">Fix a Problem!</button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="fix" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Fix a Problem</h4>
            </div>
            <div class="modal-body">
              <p>A random problem will be shown here. You can vote on the options or comment you own opinion.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-3 text-center">
          <button type="button" class="btn btn-info btn-lg" id="button" data-toggle="modal" data-target="#search">Search for one!</button>
      </div>

       <!-- Modal -->
      <div class="modal fade" id="search" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Search</h4>
            </div>
            <div class="modal-body">
              <p>Search for problems using different hashtags here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
</div>

</body>

</html>
